body{
    margin: 0;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

header{
    background-color: white;
}


nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(19, 93, 230);
    color: azure;
}

.Logo{
    width: 15%;
    height: 200px;
    margin-left: 40%;
}

.slider {
    margin-top: 3%;
    margin-left: 15%;
    width: 70%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.slide {
    float: left;
    width: 100%;
    display: none;
}

.slide img{
    width: 100%;
}

img {
    width: 60%;
    height: 800px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.prev {
    float: left;
}

.next {
    float: right;
}


h1{
    margin-top: 5%;
    text-align: center;
}

/*TEXTOS Y DESCRIPCION DE LOS MANTENIMIENTOS*/

.texto{
margin: 3%;

}

.reparacion
{
    width: 30%;
    margin-top: 10%;
    float: right;
    height: 400px;
    margin-right: 20%;
}

.text1{
    width: 30%;
}

footer {
    background-color: rgb(19, 93, 230);
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 200px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    height: 105px;
  }

  .footer-section {
    flex: 1;
    margin-right: 20px;
  }

  .footer-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .footer-section p {
    font-size: 1em;
    line-height: 1.6;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1em;
  }

  .footer-social {
    margin-top: 20px;
  }

  .footer-social a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
  }